.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100%;
	overflow: hidden;
}

.header {
	font-weight: 600;
	font-size: 1.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100%;
	overflow-y: auto;
	padding-right: 20px;
}

.row {
	display: flex;
	justify-content: space-between;
	gap: 50px;
}

.row div {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.row div label {
	font-weight: 500;
	margin-bottom: 10px;
}

.row div input:not([type="checkbox"]),
.complexRow div input:not([type="checkbox"]),
.complexRow div textarea {
	outline: none;
	border: 1px solid var(--border-color);
	border-radius: 8px;
	height: 40px;
	padding: 0 10px;
	font-size: 1rem;
}

.row div input:not([type="checkbox"]):focus,
.complexRow div input:not([type="checkbox"]):focus,
.complexRow div textarea:focus {
	border-color: var(--primary-color);
	box-shadow: 0 0 5px rgba(75, 131, 248, 0.5);
}

.complexRow {
	display: flex;
	flex-direction: column;
}

.complexRow>label {
	font-weight: 500;
	margin-bottom: 10px;
}

.complexRow>div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.complexRow .specificationsTextarea {
	resize: none;
}

.checkboxContainer {
	display: flex;
	justify-content: flex-start;
}

.checkbox {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.row input[type="checkbox"] {
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-right: 10px;
}

.buttons {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.addButton {
	background-color: var(--primary-color);
	border: 2px solid var(--primary-color);
	border-radius: 8px;
	height: 40px;
	width: 125px;
	color: white;
	cursor: pointer;
	font-weight: 500;
}

.closeButton {
	background-color: white;
	border: 2px solid var(--border-color);
	border-radius: 8px;
	height: 40px;
	width: 125px;
	cursor: pointer;
	font-weight: 500;
}