.container {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 20px;
	overflow-y: auto;
}

.function {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.searchBar {
	outline: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 40px;
	font-size: 1rem;
	padding: 0 10px;
	width: 800px;
}

table {
	width: 100%;
	border-collapse: collapse;
	background-color: white;
	border: 1px solid #ccc;
}

th,
td {
	text-align: center;
	padding: 10px;
}

th {
	background-color: #ccc;
	font-weight: 500;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tbody tr:hover {
	background-color: #ccc;
}

.editButton {
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	color: #02457a;
}

.icon {
	width: 28px;
	height: 28px;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.pageButton {
	background-color: #02457a;
	color: white;
	border: none;
	border-radius: 4px;
	height: 40px;
	width: 80px;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 500;
	transition: background-color 0.3s ease;
}